body {
    background-color: lightblue;
  }
  
  @media (min-width: 600px) {
    body {
      background-color: lightgreen;
    }
  }
  
  @media (min-width: 900px) {
    body {
      background-color: lightcoral;
    }
  }